body{
  font-family: 'Lato', sans-serif;
  background-color: #fd331b;
}

.container{
  width:100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.site-header{
  text-align: center;
}

.pokemon-container{
  width: 60%;
  display: flex;
  flex-flow: column;
  justify-content:space-between;
  background-color: #ffffff;

}

 img{
  width: 80%;
}

h1{
  font-size: 40pt;
  color: #fdcb06;
  text-shadow:2px 4px #385db3;

}


.pokedex{
  width: 100%;
  font-size: 24pt;
  list-style-type: none;
}

.pokedex li{
  width: 75%;
  padding: 10px;
  margin:10px;
  border-radius: 25px;
  border: solid 1px black;
}
.image{
  width: 50%;
}

.stats{
  width: 50%;
justify-content: center;
font-size: 24pt;
display: flex;
flex-flow: column;
}

.stats div{
  display:flex;
  justify-content: space-between;
}


.info{
  width: 50%;
justify-content: center;
font-size: 24pt;
display: flex;
flex-flow: column;
}

.infobox{
  display: flex;
  flex-flow: row;
}
.header{
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
    background-color: #6ac71f;
}

.species{
  font-size: 24pt;
  font-weight: bold;
}

.description{
  padding: 20px;
  font-size: 20pt;
}

.filter{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 20pt;
  margin: 20px;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.stat-row{
  border: solid 1px black;
  margin: 5px;
}
